{% extends 'base.html' %}

{% block content %}
<div class="row">

    <h1>Dashboards</h1>

    <div id='dashboards'>
        {% include 'dashboard/dashboards.html' %}
    </div>

</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
    $(function(){
        $('#dashboards').on('click', '.dashboard', function(){
            document.location = $(this).data('url');
        });

        setInterval(function(){
            $.get("{% url 'dashboard_list' %}", function(html){
                $('#dashboards').html(html);
            });
        }, 5000);
    });
</script>
{% endblock %}