{% extends 'base.html' %}

{% block content %}

    <table class='table' data-sortable>
        <thead>
            <tr>
                <th>Environment</th>
                <th>Hostname</th>
                <th>Roles</th>
                <th>Security<br/>Updates</th>
                <th>Total<br/>Updates</th>
                <th>Requires<br/>Restart?</th>
            </tr>
        </thead>
        <tbody>
            {% for machine in machine_list %}
            <tr data-machine-id="{{ machine.id }}">
                <td>{{ machine.environment.name }}</td>
                <td>{{ machine.hostname }}</td>
                <td>
                    {% for role in machine.roles.all %}
                        {{ role.name }} -
                    {% endfor %}
                </td>
                <td class='security-packages'>
                    {% if machine.security_packages == None %}
                        <span class='label label-info'>?</span>
                    {% elif machine.security_packages == 0 %}
                    <span class='label label-success'>0</span>
                    {% else %}
                        <span class='label label-danger'>
                            {{ machine.security_packages }}
                        </span>
                    {% endif %}
                </td>

                <td class='total-packages'>
                    {% if machine.total_packages == None %}
                    <span class='label label-info'>?</span>
                    {% elif machine.total_packages == 0 %}
                    <span class='label label-success'>0</span>
                    {% else %}
                        <span class='label label-warning'>
                            {{ machine.total_packages }}
                        </span>
                    {% endif %}
                </td>
                <td class='requires-restart'>
                    {% if machine.requires_restart == None %}
                    <span class='label label-info'>?</span>
                    {% elif machine.requires_restart %}
                    <span class="label label-danger">
                        YES
                    </span>
                    {% else %}
                    <span class='label label-success'>No</span>
                    {% endif %}
                </td>
            <tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
    function update() {
        $.getJSON("{% url 'machine_list_update' %}", function(data){
            for (var machineId in data) {
                var row = $('*[data-machine-id=' + machineId + ']');
                var labelClass = data[machineId]['security'] == 0 ? 'success' :
                                 data[machineId]['security'] === null ? 'info' :
                                 'danger'
                var val = data[machineId]['security'] === null ? '?' : data[machineId]['security']
                var html = '<span class="label label-' + labelClass + '">' + val + "</span>";
                row.find('.security-packages').html(html);

                var labelClass = data[machineId]['total'] == 0 ? 'success' :
                                 data[machineId]['total'] === null ? 'info' :
                                 'warning'
                var val = data[machineId]['total'] === null ? '?' : data[machineId]['total']
                var html = '<span class="label label-' + labelClass + '">' + val + "</span>";
                row.find('.total-packages').html(html);

                var labelClass = data[machineId]['restart'] == 0 ? 'success' :
                                 data[machineId]['restart'] === null ? 'info' :
                                 'danger'
                var val = data[machineId]['restart'] === null ? '?' :
                          data[machineId]['restart'] ? 'YES' : 'No'
                var html = '<span class="label label-' + labelClass + '">' + val + "</span>";
                row.find('.restart-packages').html(html);
            }
        });
    }
    $(function(){
        setInterval(update, 5000);
    });
</script>
{% endblock %}