{% extends 'base.html' %}

{% block content %}

    <table class='table'>
        <thead>
            <tr>
                <th>Environment</th>
                <th>Hostname</th>
                <th>Roles</th>
                <th>Security Updates</th>
                <th>Total Updates</th>
                <th>Requires Restart?</th>
            </tr>
        </thead>
        <tbody>
            {% for machine in machine_list %}
            <tr>
                <td>{{ machine.environment.name }}</td>
                <td>{{ machine.hostname }}</td>
                <td>
                    {% for role in machine.roles.all %}
                        {{ role.name }} -
                    {% endfor %}
                </td>
                <td>{{ machine.security_packages }}</td>
                <td>{{ machine.total_packages }}</td>
                <td>{{ machine.requires_restart }}</td>
            <tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
