<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{% block site_title %}Butler{% endblock %}</title>

    <link rel="icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/ico"/>

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/bootstrap-theme.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/sortable-theme-bootstrap.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/butler.css" rel="stylesheet" />

    {% block extra_stylesheets %}
    {% endblock %}

</head>

<body>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% block scripts %}
    <script src='{{ STATIC_URL }}js/jquery-1.11.0.js'></script>
    <script src='{{ STATIC_URL }}js/bootstrap.js'></script>
    <script src='{{ STATIC_URL }}js/sortable.js'></script>
    {% endblock %}

    {% block extra_scripts %}{% endblock %}

</body>

</html>